.row > .button {
  margin-right: 5px;
}
.button {
  padding: 10px;
  text-transform: uppercase;
  transition: .2s all ease-in;
  background: transparent;
  font-family: 'PT Sans Caption', sans-serif;
  color: #f7b10a !important;
  text-decoration: none !important;
}
.button.border.orange {
      border: 1px solid #c77e19 !important;
  background: rgba(0,0,0,.4);
    border: 1px solid #000;
}
.button.border.orange:hover {
  background: #b06601;
color: #ffd36b;
}
.button.border.red {
      border-color: #ea3012 !important;
      background: rgba(159,22,0,.6);
}
.button.border.red:hover {
  background: #9f1600;
}
.button.fluid {
  width: 100%;
}
.button.center {
  margin-left: auto;
  margin-right: auto;
}
